@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Midnight: #191970;
    --Grey11: #1C1C1C;
    --Aqua: #00FFFF;
}

.logo{
    margin-left: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
}

.txt-main{
    font-size: 50px;
    font-family: "Sorts Mill Goudy", serif;
    font-weight: 400;
    font-style: italic;
}

html{
    background-color: var(--Grey11);
}

img {
    object-fit: fill;
    image-rendering:pixelated;
}

.banner-image{
    background-image: url(../images/bg-main.jpg);
    background-size: cover;
}

@keyframes blink {
    50% { opacity: 0; }
}

@media screen and (max-width: 768px) {
    .pura{
        margin-left: 20px;
        padding-left: 0px;
    }

    #cursor{
        margin-left: .2rem;
    }

    .txt-main{
        font-size: 25px;
    }
}

#cursor {
    display: inline-block;
    width: 2px;
    height: 31px;
    background-color: white;
    animation: blink 0.9s infinite;
    margin-left: .5rem;
  }

.pura{
    margin-left: 3.75rem;
}

.mt-4{
    font-size: 18px;
}


.Aqua{
    font-size: 28px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--Aqua);
}
