*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Midnight: #191970;
    --Grey11: #1C1C1C;
    --Aqua: #00FFFF;
}

html{
    background-color: var(--Grey11);
}

img {
    object-fit: fill;
    image-rendering:pixelated;
}

.banner-image{
    background-image: url(../images/bg-main.jpg);
    background-size: cover;
}

@keyframes blink {
    50% { opacity: 0; }
}

@media screen and (max-width: 768px) {
    .pura{
        margin-left: 1.8rem;
    }

    #cursor{
        margin-left: .2rem;
    }
}

#cursor {
    display: inline-block;
    width: 2px;
    height: 31px;
    background-color: white;
    animation: blink 0.9s infinite;
    margin-left: .5rem;
  }

.pura{
    margin-left: 3.75rem;
}


.Aqua{
    color: var(--Aqua);
}
